.user{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-top:5px;   
    margin-right: 50px;
    
     
}


.dropdown-menu{   
    background-color: #2CAB73;
    box-shadow: 2px 1px #C6C6C6;
    position: absolute;
    margin-left: -45px;
    
}



ul{
    list-style: none;
    margin:0;
    padding:3px;
    cursor: pointer;
    color: white; 
 
}

.menu{

    font-size: 14px;
    margin-bottom: 2px;
}

.menu:hover{
    background-color:#299E6A;
}

.menu-contenedor{
   
    display: flex;
    width: 100%;
    justify-content: right;
   

}

@media screen and (max-width: 1200px) {

    .menu{
        margin-bottom: 5px;
        white-space: nowrap;
        
}
    .user{
        margin-right: 70px;
    }
    
   

 

}

@media screen and (max-width: 768px) {

    .menu{
        font-size: 12px;
        margin-bottom: 5px;
        white-space: nowrap;
        
}
    .user{
    margin-right: 50px;
}
}

