.titulo-cobertura h1{
  font: 'Poppins';
  font-size: 60 px;
  padding-left: 8px;
  margin: 5px 0;
  
  
}

.linea-cobertura{
  width: 1000%; 
  
}


.contenedor-principal-cob{
  display: grid;

}

.contenedor-izquierdo-cob{
  grid-column:  1; 
  align-items: center;
  margin-top: 5%;
}

.contenedor-derecho-cob{
  grid-column: 2; 
 
}
  
.flex-cobertura{
  display: flex;
  
}

.input-cobertura {
  font-size: 18px;
  font-family: 'Poppins';
  height: 45px;
  border-radius: 20px;
  width: 50%;
  background-color: #e6e0e0;
  border: 4px solid #2cab73;
  margin-left: 5%;
  

  }
  
.input-cobertura:hover, .input-cobertura:focus{
  border: 4px solid #2cab74ee;
  outline: none;  
  }
  
.boton-cobertura{
  background-color: #2cab73;
  border: none; 
  font-size: 18px;
  font-family: 'Poppins';
  color: white;
  cursor: pointer;
  width: auto;
  height: auto;      
  margin-left: 5%;
}
  
.boton-cobertura:hover{
  background-color:#299E6A;
}
  
.tabla-poligonos{
  width: 400px;
  height: 570px;
  border: 2px solid transparent;
  border-radius: 30px; 
  margin: auto;
  margin-top: 5%;
}
  
h3{
  font-family: 'Poppins';
  font-weight: lighter;
  font-size: 18px;
  margin-left: 5%;
  


}
  
.lista-btn{
  display: flex;
  margin-top: 5%;
  margin-left: 5%;
  
}
  
.tabla-puntos{
  width: 400px;
  height: 370px;
  border: 2px solid transparent;
  border-radius: 30px;
  margin-left: 5%;
  margin-top: 5%;
}
  
.swal2-actions button {
  width: 60px; 
  margin: 10px;
}


@media screen and (max-width: 480px){
  
  .contenedor-principal-cob{
    display: block;

  }
  h1{
    font-size: 20px;
  }

  .tabla-poligonos{
    width: 200px;
    height: 300px;
  }

  .tabla-puntos{
    width: 200px;
    height: 200px;
    margin-top: 10%;
   
  }


}

  

@media screen and (max-width: 760px){
  
  .contenedor-principal-cob{
    display: block;

  }

  h1{
    font-size: 30px;
  }

  .lista-btn{
    margin-left: 0%;
  }

  .tabla-poligonos{
    width: 300px;
    height: 400px;
  }

  .tabla-puntos{
    width: 300px;
    height: 300px;
  }

  h3{
    font-size: 12px;

  }
 
  .input-cobertura{
    font-size: 12px;
    height: 30px;
  }

  .boton-cobertura{
    font-size: 12px;
  }
}



@media screen and (max-width: 1200px){
  
  .contenedor-principal-cob{
    display: block;

  }

  .flex-cobertura{
    text-align: center;
    justify-content: center;
  }
  .tabla-puntos{
    margin: auto;
  }

  .lista-btn{
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 3%;
  }
  h3{
    font-size: 15px;

  }
 
  .input-cobertura{
    font-size: 15px;
    height: 30px;
  }

  .boton-cobertura{
    font-size: 15px;
  }
  
  
 
}