.action-column{
    justify-content: center;
    align-items: center;
    .icon {
    padding: 10px;
    }

}


.estado-inactivo {
    background-color: #D42222;
    color: white;
    height: 5px;   
  }
  
  .estado-activo {
    background-color: #4DAB2C;
    color: white;
    height: 5px;
    width: 5px;
  }