.action-column{
    justify-content: center;
    align-items: center;
    .icon {
    padding: 10px;
    }

}


.estado-inactivo {
    background-color: #D42222;
    color: white;
    border-radius: 20px;
  
      
  }
  
  .estado-activo {
    background-color: #4DAB2C;
    color: white;

    border-radius: 20px;
  }