.contenedor-login{
  width: 100%;
  display: flex;  
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;

}

.contenedor-formulario{
  line-height: 10px;
  width: 100%;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

h1{
  text-align: center;
  text-align: center;
  font-size: 40px;
  
}
  
h2{
  font-size: 17px;
  white-space: nowrap;
  font-weight: 300;
    
}
  
  
h3{
  text-align: left;
  }


.input1{
  font-size: 18px;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  height: 45px;
  border-radius: 20px;
  width: 48%;
  padding-left: 10px;
  background-color: #E6E0E0;
  border: 4px solid #2CAB73;
}

button{
  text-align: start;
  width: 47%;
  font-size: 20px;
  padding: 10px;
  color: white;
  background-color: #032240;
  border: none;
  cursor:pointer;
  font-family: 'Poppins', sans-serif;
   
}

a{
  color: black;
  white-space: nowrap;
  align-items: center;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;

    
 }
