.panel-lateral{
  background-color: #032240;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  width: 100%;
}


@media (max-width: 768px) {
  .panel-lateral{
   
   border-radius: 15px 15px 0 0;


  }
}
