.titulo-planes h1{
    font: 'Poppins';
    font-size: 60 px;
    padding-left: 8px;
    margin: 5px 0;
  }

.boton-planes{
    text-align:center;
    font-size: 16px;
    padding: 5px;
    color: white;
    width:15%;
    background-color: #2cab74ee;
    border: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    margin: 10px auto 0;
    
}


  .contenedor-busqueda{
    padding: 20px;
    justify-content: right;
    align-items: right;
  
}


.contenedor-tabla{
  width: auto;
}



@media (max-width: 1200px) {s
  
  .boton-planes {
    width: 25%
    
  }

  .contenedor-busqueda {
    display: block;
  }


}


@media (max-width: 768px) {
  .titulo-planes h1 {
    align-items: left;
    font-size: 30px;
  }

  .boton-planes {
    width: 30%;
  }

  .contenedor-busqueda {
    align-items: left;
  }

  .contenedor-tabla{
    padding-right:30px;
  }



}


@media (max-width: 480px) {
  .titulo-planes h1 {
    font-size: 20px;

  }

  .boton-planes {
    width: 35%;
    height: 60%;

  }


}