.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  
  .modal h2 {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
  }
  
  .formulario-input {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  
  .modal label {
    display: block;
    margin-bottom: 5px;
  }
  
  .modal input, .modal select {
    font-size: 15px;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  height: 45px;
  border-radius: 20px;
  width: 100%;
  background-color: #e6e0e0;
  border: 4px solid #2cab73;
  }
  
  .modal button {
    background-color: #032240;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .botones{
    display: flex;
    justify-content: center;
  margin-top: 20px;
  gap: 20px;

}

.modal select{
  width: 100%;
}

/* Estilos para pantalla con máximo ancho de 1200px */
@media (max-width: 1200px) {
  .formulario-input {
    grid-template-columns: 1fr 1fr;
  }
}

/* Estilos para pantalla con máximo ancho de 768px */
@media (max-width: 768px) {
  .formulario-input {
    grid-template-columns: 1fr;
  }
}

/* Estilos para pantalla con máximo ancho de 480px */
@media (max-width: 480px) {
  .modal {
    padding: 10px;
  }

  .modal h2 {
    font-size: 18px;
  }

  .formulario-input {
    grid-template-columns: 1fr;
  }

  .modal input,
  .modal select {
    height: 40px;
    font-size: 14px;
  }

  .modal button {
    padding: 8px 16px;
  }
}
