.superposiciones {
  width: 100vw;
  height: 100vh; 
  position: fixed; 
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.contenedor-modal {
  width: fit-content;
  min-height: 100px;
  background: #fff;
  position: absolute;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 8.2) 0px 7px 29px 0px;
  padding: 20px;
  z-index: 2;

}



.titulo-modal h3{
  
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  font-family: 'Poppins' sans-serif;
}

.boton-cerrar-primario{
         
  border: none;
 

}

.boton-cerrar-primario:hover{
  cursor: pointer;
}

.parte-arriba{
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 20px;
}

.formulario-input {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

}

.contenedor-modal label {
  display: block;
  margin-bottom: 10px;
  white-space: nowrap;
}

.contenedor-modal input, .contenedor-modal select {
font-size: 15px;
justify-content: center;
font-family: "Poppins", sans-serif;
height: 45px;
border-radius: 20px;
width: 100%;
background-color: #e6e0e0;
border: 4px solid #2cab73;
padding: 10px;

}

.contenedor-modal input:focus{
  border: 4px solid #2cab74ee;
  outline: none;
}


label{}

.botones button {
  background-color: #032240;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botones{
  display: flex;
  justify-content: center;
  margin-top: 35px;
  gap: 20px;


}

.contenedor-modal select{
width: 100%;
}

@media screen and (max-width: 768px) {
  .formulario-input {
    grid-template-columns: 1fr 1fr;
    
  }

  .superposiciones{
    overflow-y: scroll;
  }

  .contenedor-modal{
    padding-top: 100px;
  }

}

@media screen and (max-width: 480px) {
  .formulario-input {
    grid-template-columns: 1fr;
  }

  .contenedor-modal{
    padding-top: 600px;
  }
}


