.segunda-barra-superior {
    background-image: url('../Images/fondo.webp');
    height: 150px; /* Ajusta la altura de la segunda barra superior según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Ajusta el color del texto según tus necesidades */
    
    
    width: 100%; /* Asegúrate de que la barra ocupe el 100% del ancho de la página */

  }

  .titulo{
    font-size: 70px;
  }

  @media screen and (max-width: 768px) {
    .titulo {
      font-size: 50px; /* Tamaño de fuente para pantallas más pequeñas */
      justify-content: center;
      display: flex;
      align-items: center;
    }
  }

  
  