.panel {
    position: absolute;
    top: 130px;
    /* Ajusta la posición superior según la altura de las barras */
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: flex;
}

.mapa {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-principal{
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    text-align: justify;
}

.texto-secundario{
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
    width: 50%;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 200px;
    background-color: white;
  }


.input-buscador{
    margin-right: 10px;
}

.boton-buscador{
    background-color: #032240;
    margin-left: 10px;
    text-transform: uppercase;

}


.division-izquierda {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.division-derecha {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 200px;
    /* Ajusta el ancho de la imagen según tus necesidades */
}

input {
    width: 200px;
    /* Ajusta el ancho del input según tus necesidades */
    margin-bottom: 10px;
    /* Ajusta el margen inferior del input según tus necesidades */
}

.boton-contactanos {
    
    border-radius: 50px;
    background-color: #2CAB73;
    text-transform: uppercase;
   
    /* Ajusta el margen inferior de los botones según tus necesidades */
}