.panel {
    width: 100%;
    background-color: white;
    display: flex;
}




.mapa {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-principal{
    font-size: 24px;
    font-weight: 100px;
    padding: 20px;
    color: black;
    
    font-weight: 300;
    text-align: justify;
}

.texto-secundario{
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
    width: 50%;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 200px;
    background-color: white;
  }


.input-buscador{
    margin-right: 10px;
    padding: 5px;
}

.boton-buscador{
    background-color: #032240;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: Roboto, sans-serif;
    color: white;
    font-weight: bold;
    padding: 5px;
    width: 150px;

}


.division-izquierda {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.division-derecha {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 200px;
    /* Ajusta el ancho de la imagen según tus necesidades */
}

input {
    width: 200px;
    /* Ajusta el ancho del input según tus necesidades */
    margin-bottom: 10px;
    /* Ajusta el margen inferior del input según tus necesidades */
}

.boton-contactanos {
    font-size: Roboto, sans-serif;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    background-color: #2CAB73;
    padding: 10px;
    width: 200px;
    text-transform: uppercase;
    border: none;
   
    /* Ajusta el margen inferior de los botones según tus necesidades */
}

@media screen and (max-width: 600px) {
    .panel {
      flex-direction: column; /* Cambia la dirección de los elementos del panel a vertical */
      align-items: center; /* Centra los elementos horizontalmente */
      margin-bottom: 20px;
    }
  
    .texto-secundario {
      width: 100%;
      padding: 20px;
    }
  
    .division-izquierda,
    .division-derecha {
      flex: 1; /* Ocupa todo el ancho del panel en pantallas pequeñas */
    }
  }